@media screen {
    .descrition p {
        font: normal var(--font-desc) 1.7em var(--font);
        padding: 0px 30px;
    }
    .descrition h2 {
        font: normal var(--font-title) 3.5em var(--font);
        margin-bottom: 50px;
        padding: 0px 30px;
    }
    .whoami img {
        margin-right: 30px;
        width: 50%;
    }
}

@media screen and (max-width:1230px){
    .descrition p {
        font: normal var(--font-desc) 1.4em var(--font);
        padding: 0px 30px;
    }
}



@media screen {
    .contate {
        display: flex;
        flex-direction: column;
        
    }
    .list-services {
        color: white;
        font: normal var(--font-dest) 1.8em var(--font);
        position: absolute;
        left: 45%;
    }
    .list-services > h2 {
        font: normal var(--font-title) 4em var(--font);
        margin-bottom: 30px;
    }
    .list-services li {
        margin-bottom: 10px;
    }
    .list-services i{
        margin-right: 30px;
    }
}


@media screen {
    .portifolio h2 {
        font: normal var(--font-title) 4em var(--font);
    }
}

@media screen {
    .contate{
        height: 80vh;
    }
}