/*configurações gerais*/

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

:root{
    --font: 'Source Sans Pro', sans-serif;
    --font-title: 700;
    --font-dest: 600;
    --font-desc: 400;
    --font-min: 300;

    --color-main: #F6D018;
    --color-light:#fdeb92; 
    --color-strong: #948122;
    --color-title: #c5ac1b;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
	font-size: 100%;
	text-decoration: none;
    
}

a {color: inherit;}




/*Whatsapp Button*/

.whatsapp-link{
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 3%;
    right: 2%;
    background-color: #25d366;
    border-radius: 50px;
    text-align: center;
    font-size: 70px;
    box-shadow: 1px 1px 2px rgb(136, 136, 136);
    border: 1px solid rgba(124, 124, 124, 0.295);
    z-index: 1000;
}

.whatsapp-link .bi-whatsapp{
    position: relative;
    color: #ffffff;
    text-align: center;
    left: 3px;
    bottom: 3px;
}






/*init*/

header {
    position: relative;
    background: darkgray url(front31.jpg) right bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
   
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header > p{
    position: absolute;
    display: inline-block;
    color: white;
    font: normal var(--font-dest) 2.5em var(--font);
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}






/*presentation*/
.presentation {
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.descrition p {
    font: normal var(--font-desc) 1.8em var(--font);
    text-align: justify;
    text-indent: 30px;
    padding: 0px 50px;
}
.descrition h2 {
    font: normal var(--font-title) 4em var(--font);
    color: var(--color-strong);
    text-shadow: 1.3px 1.3px 1px rgba(0, 0, 0, 0.616);
    margin-bottom: 50px;
    padding: 0px 30px;
    text-align: center;
    
}
.presentation img {
    margin-right: 50px;
    border: 3px solid black;
    width: 40%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.315);
}






/*services*/
.services{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 700px;
    background: lightgray url(services-background.jpg) left center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 5px black;
}
.list-services {
    color: white;
    font: normal var(--font-dest) 2em var(--font);
    position: absolute;
    right: 8%;
}
.list-services > h2 {
    font: normal var(--font-title) 4em var(--font);
    margin-bottom: 30px;
    color: var(--color-title);
}
.list-services li {
    margin-bottom: 10px;
}
.list-services i{
    margin-right: 30px;
}
.topic-service:hover {
    color: var(--color-light);
}






/*Works - Carrossel*/
.works {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 20px 5vw;

    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-evenly;*/
}
.works h2 {
    width: 20vw;
    text-align: center;
    font: normal var(--font-title) 3em var(--font);
    text-align: center;
    color: black;
    background-color: var(--color-title);
    padding: 15px;
    border-radius: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.459);
    border: 1px solid black

    /*grid-column: 1;  
    justify-self: center;*/
}
.works h2:hover{
    background-color: var(--color-strong);
}
.works a:hover{
    text-decoration: none;
}









/*contate*/
.contact {
    height: 500px;
    background: gray url(contate21.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-shadow: 3px 3px 10px black;
    color: white;
    box-shadow: 0px 0px 5px black;
}
/*phone*/
.contact-numbers h3 {
    font: normal var(--font-dest) 3em var(--font);
    color: var(--color-main);
    text-shadow: 2px 2px 1px black;
}
.contact-numbers p{
    font: normal var(--font-title) 5em var(--font);
}
.contact-numbers a{
    text-decoration: none;
    color: white;
}


/*social media*/
.contact-social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.contact-social h3 {
    font: normal var(--font-dest) 3em var(--font);
    color: var(--color-main);
    text-shadow: 2px 2px 1px black;
}
.contact-social a{
    font: normal var(--font-title) 10em var(--font);
}
.contact p:hover{
    color: var(--color-light);
}





/*footer*/
footer {
    color: white;
    font: normal var(--font-min) 0.8em var(--font);
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-top: 10px;
}
#dev {
    font: normal var(--font-dest) 1em var(--font);
}
#dev:hover{
    text-decoration: underline;
    color: white;
}


