@media screen {
    /*header*/
    header > p{
        font-size: 1em;
    }
    /*presentation*/
    .presentation {
        height: 500px;
    }
    .descrition p {
        font-size: 1em;
        text-indent: 10px;
    }
    .descrition h2 {
        font-size: 2em;
    }


    /*services*/
    .services{
        display: grid;
        height: 400px;
        background-position: right center;
        align-items: center;
        right: 0%;
    }
    .list-services {
        font-size: 1em;
        
    }
    .list-services > h2 {
        font-size: 1.5em;
    }
   
    /*Works - Carrossel*/
    .works h2 {
        margin-top: 10px;
        font-size: 1em;
    }
    

    /*contate*/
    
    .contact-numbers h3 {
        font-size: 1.5em;
    }
    .contact-numbers p{
        font-size: 2em;
    }
    .contact-social h3 {
        font-size: 1.5em;
    }
    .contact-social a{
        font-size: 5em;
    }


    /*footer*/
    footer{
        font-size: 0.5em;
    }
    
}