/*configurações gerais*/

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");


:root{
    --font: 'Source Sans Pro', sans-serif;
    --font-title: 700;
    --font-dest: 600;
    --font-desc: 400;
    --font-min: 300;

    --color-main: #F6D018;
    --color-light:#fdeb92; 
    --color-strong: #75640C;
    --color-title: #c5ac1b;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
	font-size: 100%;
	text-decoration: none;
    
}

a {color: inherit;}



/*init*/

header {
    display: flex;
    align-items: center;
    position: relative;
    background: darkgray url(service2.jpg) right bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
   
}
header > h2 {
    position: absolute;
    color: white;
    font: normal var(--font-title) 4em var(--font);
    text-shadow: 2px 2px 1px black;
    margin-left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
}


#gallery {
    padding: 30px;
}
.card-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 1%;

}
.block-card{
    max-width: 300px;
}


.block-card:hover{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.719);
}


  /*footer*/
.rodape {
    color: white;
    font: normal var(--font-min) 0.8em var(--font);
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-top: 10px;
}

#dev {
    font: normal var(--font-dest) 1em var(--font);
    color: white;
}
#dev:hover{
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 450px){
    header > h2 {
        font-size: 3em;
    }
    .rodape {
        font-size: 0.5em;
    }
       
}

.plus {
    position: relative;
    font-size: 36px;
    left: 2px;
    bottom: 5.8px;
    
}

.background-plus {
    position: absolute;
    top: 270px;
    right: 8px;
    height: 40px;
    width: 40px;
    color: var(--color-main);
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 50%;
}