@media screen {
    header > p{
        font-size: 1em;
    }
}

@media screen {
    .descrition p {
        font: normal var(--font-desc) 1em var(--font);
    }
    .descrition h2 {
        font: normal var(--font-title) 2em var(--font);
    }
    .whoami img {
        display: none;
    }
}

@media screen {
    .services{
        background: lightgray url(services-background.jpg) center center no-repeat;
    }
    .list-services {
        display: grid;
        place-items: center;
        align-items: center;
        font: normal var(--font-dest) 1.3em var(--font);
        position: static;
        margin: auto auto auto 10%;
        
    }

}

@media screen {
    .portifolio {
        height: 80vh;
    }
    .portifolio h2 {
        font: normal var(--font-title) 2em var(--font);
    }
}

@media screen {
    
    /*phone*/
    .contate-numbers h3 {
        font: normal var(--font-dest) 1.5em var(--font);
    }
    .contate-numbers p{
        font: normal var(--font-title) 2em var(--font);
        
    }
    /*social media*/
    .contate-social-icons {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .contate-social h3 {
        font: normal var(--font-dest) 1.5em var(--font);
    }
    .contate-social a{
        font: normal var(--font-title) 4em var(--font);
    }
}