/*configurações gerais*/

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');


:root{
    --font: 'Source Sans Pro', sans-serif;
    --font-title: 700;
    --font-dest: 600;
    --font-desc: 400;
    --font-min: 300;

    --color-main: #F6D018;
    --color-light:#fdeb92; 
    --color-strong: #75640C;
    --color-title: #c5ac1b;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
	font-size: 100%;
	text-decoration: none;
    
}

a {color: inherit;}



/*init*/

header {
    display: flex;
    align-items: center;
    position: relative;
    background: darkgray url(service2.jpg) right bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
   
}
header > h2 {
    position: absolute;
    color: white;
    font: normal var(--font-title) 4em var(--font);
    text-shadow: 2px 2px 1px black;
    margin-left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
}

#gallery {
    margin-top: 30px;
    padding: 30px;
}
.card-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 1%;

}
.block-card{
    max-width: 300px;
}

.portifolio-obras{
    width: 300px;
}
.items:hover {
    pointer-events: none;
}
.items {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.item {
    flex: none;
    width: 100%;
    height: 400px;
    scroll-snap-align: start;
    pointer-events: none;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }



  /*footer*/
.rodape {
    color: white;
    font: normal var(--font-min) 0.8em var(--font);
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-top: 10px;
}

#dev {
    font: normal var(--font-dest) 1em var(--font);
    color: white;
}
#dev:hover{
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 450px){
    header > h2 {
        font-size: 3em;
    }
    .rodape {
        font-size: 0.5em;
    }
       
}