@media screen {
    /*Whatsapp Button*/

    .whatsapp-link{
        width: 100%;
        height: 50px;
        bottom: 0%;
        right: 0px;
        border-radius: 15px 15px 0px 0px;
        font-size: 35px;
    }

    .whatsapp-link .bi-whatsapp{
        font-size: 30px;
        
    }

    /*footer*/
    .rodape {
        height: 100px;
    }
}